.main_container_class{
display: flex;
flex-direction: row;
width: 100vw;
height: 90vh;
background-color: aliceblue;
}
.side_bar{
    width: 20%;
    height: 80%;
    margin: 20px 40px;
    background-color:aqua;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.side_bar button{
    
    width: 80%;
 padding: 10px 20px;
 font-size: 25px;
}
.side_bar button a{
    text-decoration: none;
}
.main_content_bar{
    margin: 10px 20px;
    width: 70%;
    height: 90%;
    margin: 20px 40px;
    background-color:aqua;
   


}